# CasinosClient

*.userprefs
.DS_Store
.vs/
Library/
Logs/
obj/
Temp/
Assets/.idea/
Assets/.DS_Store
Assets/SettingsUser/
Assets/Script.Lua/.idea/
/DataOss/Common/Lua/.idea
ProjectUiKing/.objs/
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-firstpass.csproj
CasinosClientGithub.csproj
CasinosClientGithub.Editor.csproj
CasinosClientGithub.Editor.Plugins.csproj
CasinosClientGithub.Plugins.csproj
CasinosClientGithub.sln
/Script/Script.CSharp/bin/
/Script/Script.CSharp/obj/
/Script/Script.CSharp/Script.CSharp.csproj.user
/Script/Script.Common/bin/
/Script/Script.Common/obj/
/Script/Script.Common/Script.Common.csproj.user
