# CasinosClient
.vs/
Library/
obj/
Temp/
Assets/.idea
Assets/.DS_Store
/Assets/SettingsUser
/Assets/SettingsUser.meta
/ProjectUiKing/.objs
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-firstpass.csproj
/CasinosClientGithub.csproj
/CasinosClientGithub.Editor.csproj
/CasinosClientGithub.Editor.Plugins.csproj
/CasinosClientGithub.Plugins.csproj
/CasinosClientGithub.sln
*.userprefs
.DS_Store
