<?xml version="1.0" encoding="utf-8"?>
<!-- 此处package应填入你游戏工程的包名 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.AndroidNative.AndroidNative"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.unity3d.player.UnityPlayerNativeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="unityplayer.UnityActivity"
                android:value="true" />
            <meta-data
                android:name="unityplayer.ForwardNativeEventsToDalvik"
                android:value="false" />
        </activity>

        <!-- 拍照 -->
        <activity
            android:name="com.TakePhoto.TakePhoto.TakePhotoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <!-- 拍照 End -->
		
		<!-- 微信登录 -->
        <activity
            android:name="com.ThirdPartyLogin.ThirdPartyLogin.wxapi.WXEntryActivity"
			android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <!-- 微信登录 End -->

<!-- begin: speech sdk -->

    <activity
    android:name="com.XFSpeech.XFSpeech.XFSpeechActivity"
    android:configChanges="orientation|keyboardHidden|screenSize|navigation"
    android:screenOrientation="landscape"
    android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
    android:windowSoftInputMode="adjustResize|stateHidden" >
    </activity> 
    <!-- end : speech sdk -->


        <!-- 支付 -->
        <activity
            android:name="com.Pay.Pay.PayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <!-- Ping++ SDK -->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 微信支付 -->
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity" />

        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>

        <!-- 支付End -->


        <!-- 统计 -->
        <!-- 添加DataEye需要配置的Meta start -->
        <!-- DC_APPID 是一组32位的代码，可以在g.dataeye.com创建游戏后获得. -->
        <!-- “YOUR_APPID”的部分要按照实际情况设置，一定要记得替换哦 -->
        <meta-data
            android:name="DC_APPID"
            android:value="" />
        <!-- DC_CHANNEL对应于您的发布渠道，不同渠道需要做相应的修改 -->
        <!-- “YOUR_CHANNEL_ID”的部分要按照实际情况设置，一定要记得替换哦 -->
        <meta-data
            android:name="DC_CHANNEL"
            android:value="YOUR_CHANNEL_ID" />
        <!-- 添加DataEye需要配置的Meta end -->
        <!-- 统计End -->
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />


</manifest>