<?xml version="1.0" encoding="utf-8"?>
<!-- 此处package应填入你游戏工程的包名 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Cragon.KingNative"
    android:versionCode="1"
    android:versionName="1.0" >

	<uses-sdk
		android:minSdkVersion="16"
		android:targetSdkVersion="28" />

	<application
		android:allowBackup="true"
		android:icon="@drawable/app_icon"
		android:label="@string/app_name" >
    <activity
        android:name="com.unity3d.player.UnityPlayerActivity"
        android:launchMode="singleInstance"
        android:configChanges="orientation|keyboardHidden|screenSize|navigation"
        android:label="@string/app_name" >
		<intent-filter>
			<action android:name="android.intent.action.MAIN" />
			<category android:name="android.intent.category.LAUNCHER" />
			<category android:name="android.intent.category.LEANBACK_LAUNCHER" />
		</intent-filter>
		<intent-filter>
			<action android:name="android.intent.action.VIEW"/>
			<category android:name="android.intent.category.DEFAULT"/>
			<category android:name="android.intent.category.BROWSABLE"/>
			<data android:scheme="x9g39c"/>
		</intent-filter>
		<meta-data android:name="unityplayer.UnityActivity" android:value="true" />
		<meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="false" />
    </activity>

	<activity android:name="com.secondfury.nativetoolkit.MainActivity" android:configChanges="orientation|screenSize" />
    <activity android:name="com.secondfury.nativetoolkit.LocalNotificationResult" />
    <receiver android:name="com.secondfury.nativetoolkit.LocalNotification" />
	<activity android:name="io.openinstall.unity.AndroidOpenInstall.currentActivity" />
	<!-- 微信分享回调 -->
	<activity
		android:name=".wxapi.WXEntryActivity"
		android:theme="@android:style/Theme.Translucent.NoTitleBar"
		android:configChanges="keyboardHidden|orientation|screenSize"
		android:exported="true" />
	
	<meta-data android:name="com.openinstall.APP_KEY" android:value="x9g39c"/>
	<meta-data android:name="Mob-AppKey" android:value="moba6b6c6d6"/>
	<meta-data android:name="Mob-AppSecret" android:value="b89d2427a3bc7ad1aea1e1e8c1d36bf3"/>
	<meta-data android:name="PUSH_APPID" android:value="IbmKW6ssr99lveCtPMG9dA" />
	<meta-data android:name="PUSH_APPKEY" android:value="RhhDAohWe16Ejdgmw7roB1" />
	<meta-data android:name="PUSH_APPSECRET" android:value="ytJMQpWxEQ7HhnFMHcjZV2" />	

	</application>

	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /><!-- 个推浮动通知权限 -->
	<uses-permission android:name="getui.permission.GetuiService.com.getui.demo" /><!-- 个推自定义权限 -->
  
	<permission
        android:name="getui.permission.GetuiService.com.getui.demo"
        android:protectionLevel="normal" >
    </permission>
	
	<!--
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
	-->
</manifest>