<?xml version="1.0" encoding="utf-8"?>
<!-- 此处package应填入你游戏工程的包名 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Cragon.KingTexas"
    android:versionCode="1"
    android:versionName="1.0" >

	<uses-sdk
		android:minSdkVersion="16"
		android:targetSdkVersion="28" />

	<application
		android:allowBackup="true"
		android:icon="@drawable/app_icon"
		android:label="@string/app_name" >
    <activity
        android:name="com.unity3d.player.UnityPlayerActivity"
        android:launchMode="singleInstance"
        android:configChanges="orientation|keyboardHidden|screenSize|navigation"
        android:label="@string/app_name" >
		<intent-filter>
			<action android:name="android.intent.action.MAIN" />
			<category android:name="android.intent.category.LAUNCHER" />
			<category android:name="android.intent.category.LEANBACK_LAUNCHER" />
		</intent-filter>
		<intent-filter>
			<action android:name="android.intent.action.VIEW"/>
			<category android:name="android.intent.category.DEFAULT"/>
			<category android:name="android.intent.category.BROWSABLE"/>
			<data android:scheme="znc4d4"/>
		</intent-filter>
		<meta-data android:name="unityplayer.UnityActivity" android:value="true" />
		<meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="false" />
    </activity>

	<!-- native toolkit -->
	<activity android:name="com.secondfury.nativetoolkit.MainActivity" android:configChanges="orientation|screenSize" />
    <activity android:name="com.secondfury.nativetoolkit.LocalNotificationResult" />
    <receiver android:name="com.secondfury.nativetoolkit.LocalNotification" />
	<!-- end native toolkit -->
	<activity android:name="io.openinstall.unity.AndroidOpenInstall.currentActivity" />
	<activity android:name="com.OpenInstall.OpenInstall.NativeOpenInstallActivity" />
	
	<!--
	<provider
		android:name="android.support.v4.content.FileProvider"        
		android:authorities="com.Cragon.KingTexas.provider"
		android:exported="false"
		android:grantUriPermissions="true">
		<meta-data
			android:name="android.support.FILE_PROVIDER_PATHS"
			android:resource="@xml/provider_paths" />
    </provider>
	-->
	
	<!-- 拍照 -->
	<activity
        android:name="com.TakePhoto.TakePhoto.TakePhotoActivity"
        android:configChanges="orientation|keyboardHidden|screenSize|navigation"
        android:screenOrientation="landscape"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:windowSoftInputMode="adjustResize|stateHidden" >
    </activity>
    <!-- 拍照 End -->
	
	<!-- 微信登录 -->
	<activity
        android:name="com.Cragon.KingTexas.wxapi.WXEntryActivity"
        android:exported="true" >
    </activity>
    <!-- 微信登录 End -->
	
	<!-- 微信分享回调 -->
 	<activity
		android:name=".wxapi.WXEntryActivity"
		android:theme="@android:style/Theme.Translucent.NoTitleBar"
		android:configChanges="keyboardHidden|orientation|screenSize"
		android:exported="true" />
		
	<!-- 支付 -->
	<activity
        android:name="com.Pay.Pay.PayActivity"
        android:configChanges="orientation|keyboardHidden|screenSize|navigation"
        android:screenOrientation="landscape"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:windowSoftInputMode="adjustResize|stateHidden" >
    </activity>

    <activity
		android:name="com.Pay.Pay.BeeCloudPayActivity"
		android:configChanges="orientation|keyboardHidden|screenSize|navigation"
		android:screenOrientation="landscape"
		android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
		android:windowSoftInputMode="adjustResize|stateHidden" >
    </activity>
    
    <activity
		android:name="cn.beecloud.BCMockPayActivity"
		android:screenOrientation="portrait"
		android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    
    <!-- 微信支付 -->
    <activity
		android:name="cn.beecloud.BCWechatPaymentActivity"
		android:launchMode="singleTop"
		android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    
    <activity-alias
        android:name="com.Cragon.KingTexas.wxapi.WXPayEntryActivity"
		android:exported="true"
		android:targetActivity="cn.beecloud.BCWechatPaymentActivity" />

    <!-- 支付宝 -->
	<activity
        android:name="com.alipay.sdk.auth.AuthActivity"
        android:configChanges="orientation|keyboardHidden|navigation|screenSize"
        android:exported="false"
        android:screenOrientation="behind" >
    </activity>
    
    <activity
		android:name="com.alipay.sdk.app.H5PayActivity"
		android:configChanges="orientation|keyboardHidden|navigation"
		android:exported="false"
		android:screenOrientation="behind"
		android:windowSoftInputMode="adjustResize|stateHidden" />
    <!-- 支付End -->
	
	<!-- 配置个推SDK核心服务 -->
	<service
		android:name="com.igexin.sdk.PushService"
        android:exported="true"
        android:label="NotificationCenter"
        android:process=":pushservice" >
		<intent-filter>
			<action android:name="com.igexin.sdk.action.service.message"/>
		</intent-filter>
    </service>

    <receiver android:name="com.igexin.sdk.PushReceiver" >
		<intent-filter>
			<action android:name="android.intent.action.BOOT_COMPLETED" />
			<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
			<action android:name="android.intent.action.USER_PRESENT" />
			<action android:name="com.igexin.sdk.action.refreshls" />
			<action android:name="android.intent.action.MEDIA_MOUNTED" />
			<action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
			<action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
		</intent-filter>
    </receiver>
    <activity
		android:name="com.igexin.sdk.PushActivity"
        android:excludeFromRecents="true"
        android:exported="false"
        android:process=":pushservice"
        android:taskAffinity="com.igexin.sdk.PushActivityTask"
        android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    <activity
        android:name="com.igexin.sdk.GActivity"
        android:excludeFromRecents="true"
        android:exported="true"
        android:process=":pushservice"
        android:taskAffinity="com.igexin.sdk.PushActivityTask"
        android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    <service
		android:name="com.getui.getuiunity.GTPushService"
		android:exported="true"
		android:label="PushService"
		android:process=":pushservice">
    </service>
    <service android:name="com.getui.getuiunity.GTPushIntentService"/>
	<!-- 配置个推SDK核心服务 End-->
	
	<meta-data android:name="com.openinstall.APP_KEY" android:value="znc4d4"/>
	<meta-data android:name="Mob-AppKey" android:value="254dedc7a3730"/>
	<meta-data android:name="Mob-AppSecret" android:value="53788920e17ffa1d9af4ef3540352172"/>
	<meta-data android:name="PUSH_APPID" android:value="TXYr3LD0se8JU8UOtg9cj3" />
	<meta-data android:name="PUSH_APPKEY" android:value="F6i4mvPKr96KuYsNAXciw9" />
	<meta-data android:name="PUSH_APPSECRET" android:value="DWlJdILTq77OG68J4jFcx3" />	

	</application>

	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /><!-- 个推浮动通知权限 -->
	<uses-permission android:name="getui.permission.GetuiService.com.getui.demo" /><!-- 个推自定义权限 -->
  
	<permission
        android:name="getui.permission.GetuiService.com.getui.demo"
        android:protectionLevel="normal" >
    </permission>
	
	<!--
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
	-->
</manifest>